
h1 {
  text-align:center
}
p {
  text-align:center
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  text-align:center
}
body {
  .css-selector {
    background: linear-gradient(270deg, #0081ff, #91c8ff);
    background-size: 400% 400%;
    -webkit-animation: potato 30s ease infinite;
    -moz-animation: potato 30s ease infinite;
    -o-animation: potato 30s ease infinite;
    animation: potato 30s ease infinite;
}
@-webkit-keyframes potato {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes potato {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes potato {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes potato {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
}
